.nav-thing{
    color:white;}
#nav-thing-1{
     padding-top:30%;
    padding-right:1%;
     font-size: 120%;
         color:rgb(230,230)		;
 display: inline-block;
}
#nav-thing-2{
 float: right;
   
    padding-right: 10px;
    color:rgb(230,230)		;
        font-size: 120%;

}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 }
.pie{
    padding-top:1%;
    padding-right:1%;
    font-size: 120%;
     float: right;
 display: inline-block;
}
